.angular-accordion-header {
    background-color: #999;
    color: #ffffff;
    padding: 10px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.angular-accordion-container {
    margin: 3px;
}

.angularaccordionheaderselected {
    background-color: #bbb;
    color: #333;
    font-weight: bold;
}

.angular-accordion-header:hover {
    text-decoration: underline !important;
}

.angularaccordionheaderselected:hover {
    text-decoration: underline !important;
}

.angular-accordion-pane {
    padding: 25px;
    overflow-y: auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
